html {
  background-color: #dbdbdb;
}

* {
  font-family: niramit;
}

body {
  margin-top: -6mm;
  padding-left: 9mm;
  padding-right: 9mm;
}

#title {
  font-size: 40px;
  color: #080202;
  font-family: audiowide;
  margin-left: 7mm;
  font-size: 43px;
  font-weight: bold;
}

#question-container {
  background-color: #080202;
  width: 50px;
  height: 50px;
  float: right;
  border-radius: 50px;
  text-align: center;
  font-size: 40px;
  cursor: pointer;
  color: white;
  transition: color 0.5s, background-color 0.5s;
}

#question-container p {
  margin-top: -3mm;
}

.main-container {
  float: left;
  width: 17cm;
}

.main-container * {
  align-self: center;
}

.input-container {
  width: 17cm;
  display: flex;
  margin-bottom: 20px;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 250px;
  background: none;
  margin-left: 29px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: linear-gradient(90deg, #ffdeeb 0%, #f193ca 50%, #58bdd1 100%);
  height: 35px;
  border-radius: 50px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: #ffffff;
  border-radius: 55.5px;
  height: 35px;
  width: 35px;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 2px solid #5b5b5b;
}

input[type="range"]::-moz-range-track {
  background: linear-gradient(90deg, #fce9f1 0%, #feb3df 50%, #73bbc9 100%);
  height: 35px;
  border-radius: 50px;
}

input[type="range"]::-moz-range-thumb {
  background-color: #ffffff;
  border: none;
  border-radius: 55.5px;
  height: 35px;
  width: 35px;
}

input[type="range"]:focus::-moz-range-thumb {
  outline: 2px solid #5b5b5b;
}

#type-selector {
  width: 250px;
  height: 38px;
  font-size: 22px;
  border-radius: 25px;
  padding-left: 10px;
  margin-bottom: 5px;
  margin-left: 90px;
}

.result-container {
  background-color: #696969;
  padding: 5px 30px 20px 30px;
  font-size: 20px;
  max-height: 520px;
  overflow-y: scroll;
  border-radius: 30px;
  width: 16.2cm;
  height: 500px;
  font-size: 22px;
  text-align: justify;
  color: white;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 30px;
}

#muscle-container {
  position: relative;
  float: right;
  margin-top: -7mm;
  width: 700px;
  height: 630px;
}

#main-muscle {
  position: absolute;
  width: 522px;
  height: 630px;
  margin-left: 2cm;
}

.sub-muscles {
  position: absolute;
  scale: 15.5%;
}

#muscle-container :hover {
  opacity: 50%;
  cursor: pointer;
}

#main-muscle:hover {
  opacity: 100%;
  cursor: default;
}

#abdominals {
  top: -6cm;
  left: -1.1mm;
  z-index: 1;
}

#abductors {
  top: 4.18cm;
  left: 4cm;
  z-index: 1;
}

#adductors {
  left: -20.75cm;
  top: -6.4cm;
}

#biceps {
  left: -9.92cm;
  top: -2.3cm;
}

#calves {
  left: 3.86cm;
  top: -0.72cm;
}

#chest {
  left: -5.1cm;
  top: -1.35cm;
}

#forearms {
  left: -11.76cm;
  top: -1.55cm;
}

#glutes {
  top: 1.7cm;
  left: 3.96cm;
}

#hamstrings {
  top: -0.33cm;
  left: 3.95cm;
}

#lats {
  left: 3.26cm;
  top: -3.53cm;
}

#lower_back {
  left: 4.44cm;
}

#middle_back {
  top: -5.35cm;
  left: -1.76cm;
  z-index: 1;
}

#neck {
  left: -24.05cm;
  top: -2.74cm;
}

#quadriceps {
  left: -10cm;
  top: -5.88cm;
}

#triceps {
  top: -4.4cm;
  left: -2.6cm;
}

#manual {
  background-color: rgba(193, 193, 193, 0.774);
  width: 1400px;
  height: 705px;
  position: absolute;
  z-index: 2;
}

#exit-manual {
  background-color: #080202;
  color: white;
  width: 4cm;
  height: 1.6cm;
  font-size: 30px;
  padding-bottom: 20px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 12cm;
  transition: color 0.5s, background-color 0.5s;
}

#exit-manual:hover,
#question-container:hover {
  background-color: white;
  color: #080202;
}

#manual img {
  scale: 50%;
  opacity: 100%;
}

#manual-difficulty {
  position: absolute;
  top: 3cm;
  left: -1cm;
}

#manual-type {
  position: absolute;
  top: 3cm;
  right: 18.5cm;
}

#manual-help {
  position: absolute;
  left: 27.5cm;
  top: -1cm;
}

#manual-muscle {
  position: absolute;
  top: 8cm;
  left: 18.5cm;
}
